In [1]:
# Import dependencies
import pandas as pd
from pathlib import Path
import os

In [4]:
#Path to CSV file
citibike_202311 = Path("/Users/patriciayoung/Desktop/BootCamp/Homework:Challenges/CitiBike-tableau/202311-citibike-tripdata.csv")


# Read our Crowdfunding data into pandas
citibike_202311_df = pd.read_csv(citibike_202311)
citibike_202311_df.head()

/var/folders/0y/ylp9d14x1qqc5xlqqgqmjdmw0000gn/T/ipykernel_87061/3621734405.py:6: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  citibike_202311_df = pd.read_csv(citibike_202311)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,48878C314260EF1D,classic_bike,2023-11-03 17:48:21,2023-11-03 17:58:46,Queens Plaza North & Crescent St,6429.01,31 Ave & Steinway St,6782.01,40.751107,-73.940873,40.761149,-73.917007,member
1,9E0E1583031239C4,classic_bike,2023-11-01 12:54:59,2023-11-01 13:05:23,Queens Plaza North & Crescent St,6429.01,E 74 St & 1 Ave,6953.08,40.751233,-73.940472,40.768974,-73.954823,member
2,FEBB9109BCB32647,classic_bike,2023-11-13 12:23:29,2023-11-13 12:27:28,E 128 St & Madison Ave,7735.23,E 138 St & 5 Ave,7809.13,40.807560,-73.939182,40.814490,-73.936153,member
3,6E5C8C2B6D45B195,classic_bike,2023-11-27 08:49:26,2023-11-27 09:03:35,W 82 St & Central Park West,7304.08,E 74 St & 1 Ave,6953.08,40.782864,-73.971619,40.768974,-73.954823,member
4,29175CDCC2735F4E,classic_bike,2023-11-14 19:20:04,2023-11-14 20:35:12,8 Ave & W 33 St,6450.12,NaN,NaN,40.751657,-73.993607,40.780000,-73.970000,member

In [6]:
#Path to CSV file
citibike_202312 = Path("/Users/patriciayoung/Desktop/BootCamp/Homework:Challenges/CitiBike-tableau/202311-citibike-tripdata.csv")

# Read our Crowdfunding data into pandas
citibike_202312_df = pd.read_csv(citibike_202312)
citibike_202312_df.head()

/var/folders/0y/ylp9d14x1qqc5xlqqgqmjdmw0000gn/T/ipykernel_87061/4155637955.py:5: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  citibike_202312_df = pd.read_csv(citibike_202312)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,48878C314260EF1D,classic_bike,2023-11-03 17:48:21,2023-11-03 17:58:46,Queens Plaza North & Crescent St,6429.01,31 Ave & Steinway St,6782.01,40.751107,-73.940873,40.761149,-73.917007,member
1,9E0E1583031239C4,classic_bike,2023-11-01 12:54:59,2023-11-01 13:05:23,Queens Plaza North & Crescent St,6429.01,E 74 St & 1 Ave,6953.08,40.751233,-73.940472,40.768974,-73.954823,member
2,FEBB9109BCB32647,classic_bike,2023-11-13 12:23:29,2023-11-13 12:27:28,E 128 St & Madison Ave,7735.23,E 138 St & 5 Ave,7809.13,40.807560,-73.939182,40.814490,-73.936153,member
3,6E5C8C2B6D45B195,classic_bike,2023-11-27 08:49:26,2023-11-27 09:03:35,W 82 St & Central Park West,7304.08,E 74 St & 1 Ave,6953.08,40.782864,-73.971619,40.768974,-73.954823,member
4,29175CDCC2735F4E,classic_bike,2023-11-14 19:20:04,2023-11-14 20:35:12,8 Ave & W 33 St,6450.12,NaN,NaN,40.751657,-73.993607,40.780000,-73.970000,member

In [7]:
#Drop rows that have missing data

cleaned_202311 = citibike_202311_df.dropna()
cleaned_202311.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,48878C314260EF1D,classic_bike,2023-11-03 17:48:21,2023-11-03 17:58:46,Queens Plaza North & Crescent St,6429.01,31 Ave & Steinway St,6782.01,40.751107,-73.940873,40.761149,-73.917007,member
1,9E0E1583031239C4,classic_bike,2023-11-01 12:54:59,2023-11-01 13:05:23,Queens Plaza North & Crescent St,6429.01,E 74 St & 1 Ave,6953.08,40.751233,-73.940472,40.768974,-73.954823,member
2,FEBB9109BCB32647,classic_bike,2023-11-13 12:23:29,2023-11-13 12:27:28,E 128 St & Madison Ave,7735.23,E 138 St & 5 Ave,7809.13,40.807560,-73.939182,40.814490,-73.936153,member
3,6E5C8C2B6D45B195,classic_bike,2023-11-27 08:49:26,2023-11-27 09:03:35,W 82 St & Central Park West,7304.08,E 74 St & 1 Ave,6953.08,40.782864,-73.971619,40.768974,-73.954823,member
5,A1717B24A900AD20,classic_bike,2023-11-05 22:53:05,2023-11-05 22:59:43,Nelson Ave & W 172 St,8290.01,3 Ave & E 174 St,8241.07,40.843870,-73.921083,40.842240,-73.898500,member

In [8]:
#Drop rows that have missing data

cleaned_202312 = citibike_202312_df.dropna()
cleaned_202312.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,48878C314260EF1D,classic_bike,2023-11-03 17:48:21,2023-11-03 17:58:46,Queens Plaza North & Crescent St,6429.01,31 Ave & Steinway St,6782.01,40.751107,-73.940873,40.761149,-73.917007,member
1,9E0E1583031239C4,classic_bike,2023-11-01 12:54:59,2023-11-01 13:05:23,Queens Plaza North & Crescent St,6429.01,E 74 St & 1 Ave,6953.08,40.751233,-73.940472,40.768974,-73.954823,member
2,FEBB9109BCB32647,classic_bike,2023-11-13 12:23:29,2023-11-13 12:27:28,E 128 St & Madison Ave,7735.23,E 138 St & 5 Ave,7809.13,40.807560,-73.939182,40.814490,-73.936153,member
3,6E5C8C2B6D45B195,classic_bike,2023-11-27 08:49:26,2023-11-27 09:03:35,W 82 St & Central Park West,7304.08,E 74 St & 1 Ave,6953.08,40.782864,-73.971619,40.768974,-73.954823,member
5,A1717B24A900AD20,classic_bike,2023-11-05 22:53:05,2023-11-05 22:59:43,Nelson Ave & W 172 St,8290.01,3 Ave & E 174 St,8241.07,40.843870,-73.921083,40.842240,-73.898500,member

In [9]:
cleaned_202311.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2875911 entries, 0 to 2887736
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 307.2+ MB

In [10]:
num_rows, num_columns = cleaned_202311.shape

print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

Number of rows: 2875911
Number of columns: 13

In [11]:
num_rows, num_columns = cleaned_202312.shape

print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

Number of rows: 2875911
Number of columns: 13

In [12]:
#Drop rideable_type columns
column_delete_ridetype_1 = 'rideable_type'

# Drop the specified column and create a new DataFrame
cleaned_202311 = cleaned_202311.drop(columns=[column_delete_ridetype_1])

# Display the DataFrame after deleting the column
print(cleaned_202311.head())

            ride_id           started_at             ended_at  \
0  48878C314260EF1D  2023-11-03 17:48:21  2023-11-03 17:58:46
1  9E0E1583031239C4  2023-11-01 12:54:59  2023-11-01 13:05:23
2  FEBB9109BCB32647  2023-11-13 12:23:29  2023-11-13 12:27:28
3  6E5C8C2B6D45B195  2023-11-27 08:49:26  2023-11-27 09:03:35
5  A1717B24A900AD20  2023-11-05 22:53:05  2023-11-05 22:59:43

                 start_station_name start_station_id      end_station_name  \
0  Queens Plaza North & Crescent St          6429.01  31 Ave & Steinway St
1  Queens Plaza North & Crescent St          6429.01       E 74 St & 1 Ave
2            E 128 St & Madison Ave          7735.23      E 138 St & 5 Ave
3       W 82 St & Central Park West          7304.08       E 74 St & 1 Ave
5             Nelson Ave & W 172 St          8290.01      3 Ave & E 174 St

  end_station_id  start_lat  start_lng    end_lat    end_lng member_casual
0        6782.01  40.751107 -73.940873  40.761149 -73.917007        member
1        6953.08  40.751233 -73.940472  40.768974 -73.954823        member
2        7809.13  40.807560 -73.939182  40.814490 -73.936153        member
3        6953.08  40.782864 -73.971619  40.768974 -73.954823        member
5        8241.07  40.843870 -73.921083  40.842240 -73.898500        member

In [13]:
#Drop rideable_type columns
column_delete_ridetype_2 = 'rideable_type'

# Drop the specified column and create a new DataFrame
cleaned_202312 = cleaned_202312.drop(columns=[column_delete_ridetype_2])

# Display the DataFrame after deleting the column
print(cleaned_202312.head())

            ride_id           started_at             ended_at  \
0  48878C314260EF1D  2023-11-03 17:48:21  2023-11-03 17:58:46
1  9E0E1583031239C4  2023-11-01 12:54:59  2023-11-01 13:05:23
2  FEBB9109BCB32647  2023-11-13 12:23:29  2023-11-13 12:27:28
3  6E5C8C2B6D45B195  2023-11-27 08:49:26  2023-11-27 09:03:35
5  A1717B24A900AD20  2023-11-05 22:53:05  2023-11-05 22:59:43

                 start_station_name start_station_id      end_station_name  \
0  Queens Plaza North & Crescent St          6429.01  31 Ave & Steinway St
1  Queens Plaza North & Crescent St          6429.01       E 74 St & 1 Ave
2            E 128 St & Madison Ave          7735.23      E 138 St & 5 Ave
3       W 82 St & Central Park West          7304.08       E 74 St & 1 Ave
5             Nelson Ave & W 172 St          8290.01      3 Ave & E 174 St

  end_station_id  start_lat  start_lng    end_lat    end_lng member_casual
0        6782.01  40.751107 -73.940873  40.761149 -73.917007        member
1        6953.08  40.751233 -73.940472  40.768974 -73.954823        member
2        7809.13  40.807560 -73.939182  40.814490 -73.936153        member
3        6953.08  40.782864 -73.971619  40.768974 -73.954823        member
5        8241.07  40.843870 -73.921083  40.842240 -73.898500        member

In [14]:
#Drop lat columns
start_station_delete_1 = 'start_station_name'

# Drop the specified column and create a new DataFrame
cleaned_202311 = cleaned_202311.drop(columns=[start_station_delete_1])

# Display the DataFrame after deleting the column
print(cleaned_202311.head())

            ride_id           started_at             ended_at  \
0  48878C314260EF1D  2023-11-03 17:48:21  2023-11-03 17:58:46
1  9E0E1583031239C4  2023-11-01 12:54:59  2023-11-01 13:05:23
2  FEBB9109BCB32647  2023-11-13 12:23:29  2023-11-13 12:27:28
3  6E5C8C2B6D45B195  2023-11-27 08:49:26  2023-11-27 09:03:35
5  A1717B24A900AD20  2023-11-05 22:53:05  2023-11-05 22:59:43

  start_station_id      end_station_name end_station_id  start_lat  start_lng  \
0          6429.01  31 Ave & Steinway St        6782.01  40.751107 -73.940873
1          6429.01       E 74 St & 1 Ave        6953.08  40.751233 -73.940472
2          7735.23      E 138 St & 5 Ave        7809.13  40.807560 -73.939182
3          7304.08       E 74 St & 1 Ave        6953.08  40.782864 -73.971619
5          8290.01      3 Ave & E 174 St        8241.07  40.843870 -73.921083

     end_lat    end_lng member_casual
0  40.761149 -73.917007        member
1  40.768974 -73.954823        member
2  40.814490 -73.936153        member
3  40.768974 -73.954823        member
5  40.842240 -73.898500        member

In [15]:
#Drop lat columns
start_station_delete_2 = 'start_station_name'

# Drop the specified column and create a new DataFrame
cleaned_202312 = cleaned_202312.drop(columns=[start_station_delete_2])

# Display the DataFrame after deleting the column
print(cleaned_202312.head())

            ride_id           started_at             ended_at  \
0  48878C314260EF1D  2023-11-03 17:48:21  2023-11-03 17:58:46
1  9E0E1583031239C4  2023-11-01 12:54:59  2023-11-01 13:05:23
2  FEBB9109BCB32647  2023-11-13 12:23:29  2023-11-13 12:27:28
3  6E5C8C2B6D45B195  2023-11-27 08:49:26  2023-11-27 09:03:35
5  A1717B24A900AD20  2023-11-05 22:53:05  2023-11-05 22:59:43

  start_station_id      end_station_name end_station_id  start_lat  start_lng  \
0          6429.01  31 Ave & Steinway St        6782.01  40.751107 -73.940873
1          6429.01       E 74 St & 1 Ave        6953.08  40.751233 -73.940472
2          7735.23      E 138 St & 5 Ave        7809.13  40.807560 -73.939182
3          7304.08       E 74 St & 1 Ave        6953.08  40.782864 -73.971619
5          8290.01      3 Ave & E 174 St        8241.07  40.843870 -73.921083

     end_lat    end_lng member_casual
0  40.761149 -73.917007        member
1  40.768974 -73.954823        member
2  40.814490 -73.936153        member
3  40.768974 -73.954823        member
5  40.842240 -73.898500        member

In [16]:
#Drop lat columns
end_station_delete_1 = 'end_station_name'

# Drop the specified column and create a new DataFrame
cleaned_202311 = cleaned_202311.drop(columns=[end_station_delete_1])

# Display the DataFrame after deleting the column
print(cleaned_202311.head())

            ride_id           started_at             ended_at  \
0  48878C314260EF1D  2023-11-03 17:48:21  2023-11-03 17:58:46
1  9E0E1583031239C4  2023-11-01 12:54:59  2023-11-01 13:05:23
2  FEBB9109BCB32647  2023-11-13 12:23:29  2023-11-13 12:27:28
3  6E5C8C2B6D45B195  2023-11-27 08:49:26  2023-11-27 09:03:35
5  A1717B24A900AD20  2023-11-05 22:53:05  2023-11-05 22:59:43

  start_station_id end_station_id  start_lat  start_lng    end_lat    end_lng  \
0          6429.01        6782.01  40.751107 -73.940873  40.761149 -73.917007
1          6429.01        6953.08  40.751233 -73.940472  40.768974 -73.954823
2          7735.23        7809.13  40.807560 -73.939182  40.814490 -73.936153
3          7304.08        6953.08  40.782864 -73.971619  40.768974 -73.954823
5          8290.01        8241.07  40.843870 -73.921083  40.842240 -73.898500

  member_casual
0        member
1        member
2        member
3        member
5        member

In [17]:
#Drop lat columns
end_station_delete_2 = 'end_station_name'

# Drop the specified column and create a new DataFrame
cleaned_202312 = cleaned_202312.drop(columns=[end_station_delete_2])

# Display the DataFrame after deleting the column
print(cleaned_202312.head())

            ride_id           started_at             ended_at  \
0  48878C314260EF1D  2023-11-03 17:48:21  2023-11-03 17:58:46
1  9E0E1583031239C4  2023-11-01 12:54:59  2023-11-01 13:05:23
2  FEBB9109BCB32647  2023-11-13 12:23:29  2023-11-13 12:27:28
3  6E5C8C2B6D45B195  2023-11-27 08:49:26  2023-11-27 09:03:35
5  A1717B24A900AD20  2023-11-05 22:53:05  2023-11-05 22:59:43

  start_station_id end_station_id  start_lat  start_lng    end_lat    end_lng  \
0          6429.01        6782.01  40.751107 -73.940873  40.761149 -73.917007
1          6429.01        6953.08  40.751233 -73.940472  40.768974 -73.954823
2          7735.23        7809.13  40.807560 -73.939182  40.814490 -73.936153
3          7304.08        6953.08  40.782864 -73.971619  40.768974 -73.954823
5          8290.01        8241.07  40.843870 -73.921083  40.842240 -73.898500

  member_casual
0        member
1        member
2        member
3        member
5        member

In [18]:
len(cleaned_202312)

2875911

In [19]:
print(cleaned_202311)

                  ride_id           started_at             ended_at  \
0        48878C314260EF1D  2023-11-03 17:48:21  2023-11-03 17:58:46
1        9E0E1583031239C4  2023-11-01 12:54:59  2023-11-01 13:05:23
2        FEBB9109BCB32647  2023-11-13 12:23:29  2023-11-13 12:27:28
3        6E5C8C2B6D45B195  2023-11-27 08:49:26  2023-11-27 09:03:35
5        A1717B24A900AD20  2023-11-05 22:53:05  2023-11-05 22:59:43
...                   ...                  ...                  ...
2887732  B06C26BA0C5E31F8  2023-11-28 09:57:05  2023-11-28 10:03:47
2887733  536BFFBCD957FCA7  2023-11-30 22:37:43  2023-11-30 22:41:42
2887734  BE9FCBED91CADF0B  2023-11-10 13:49:27  2023-11-10 13:53:53
2887735  CAC97E13CB8AA481  2023-11-20 14:16:31  2023-11-20 14:20:08
2887736  B51FC32482263D7E  2023-11-15 08:27:36  2023-11-15 08:32:22

        start_station_id end_station_id  start_lat  start_lng    end_lat  \
0                6429.01        6782.01  40.751107 -73.940873  40.761149
1                6429.01        6953.08  40.751233 -73.940472  40.768974
2                7735.23        7809.13  40.807560 -73.939182  40.814490
3                7304.08        6953.08  40.782864 -73.971619  40.768974
5                8290.01        8241.07  40.843870 -73.921083  40.842240
...                  ...            ...        ...        ...        ...
2887732          7622.12        7436.11  40.800672 -73.934900  40.789211
2887733          3987.06        3762.08  40.672737 -73.983607  40.666208
2887734          6786.02        6779.05  40.761374 -73.990163  40.763441
2887735          5626.15        5712.03  40.726226 -73.986142  40.729515
2887736          5847.01        5653.12  40.732916 -74.007114  40.725840

           end_lng member_casual
0       -73.917007        member
1       -73.954823        member
2       -73.936153        member
3       -73.954823        member
5       -73.898500        member
...            ...           ...
2887732 -73.943708        member
2887733 -73.981999        member
2887734 -73.982681        member
2887735 -73.990753        member
2887736 -74.007653        member

[2875911 rows x 10 columns]

In [25]:
# Drop rows starting from index 500 to the end
cleaned_202311 = cleaned_202311.iloc[:500]

# Display the DataFrame after deleting the rows
print(cleaned_202311.head())

            ride_id           started_at             ended_at  \
0  48878C314260EF1D  2023-11-03 17:48:21  2023-11-03 17:58:46
1  9E0E1583031239C4  2023-11-01 12:54:59  2023-11-01 13:05:23
2  FEBB9109BCB32647  2023-11-13 12:23:29  2023-11-13 12:27:28
3  6E5C8C2B6D45B195  2023-11-27 08:49:26  2023-11-27 09:03:35
5  A1717B24A900AD20  2023-11-05 22:53:05  2023-11-05 22:59:43

  start_station_id end_station_id  start_lat  start_lng    end_lat    end_lng  \
0          6429.01        6782.01  40.751107 -73.940873  40.761149 -73.917007
1          6429.01        6953.08  40.751233 -73.940472  40.768974 -73.954823
2          7735.23        7809.13  40.807560 -73.939182  40.814490 -73.936153
3          7304.08        6953.08  40.782864 -73.971619  40.768974 -73.954823
5          8290.01        8241.07  40.843870 -73.921083  40.842240 -73.898500

  member_casual
0        member
1        member
2        member
3        member
5        member

In [26]:
# Drop rows starting from index 500 to the end
cleaned_202312 = cleaned_202312.iloc[:500]

# Display the DataFrame after deleting the rows
print(cleaned_202312.head())

            ride_id           started_at             ended_at  \
0  48878C314260EF1D  2023-11-03 17:48:21  2023-11-03 17:58:46
1  9E0E1583031239C4  2023-11-01 12:54:59  2023-11-01 13:05:23
2  FEBB9109BCB32647  2023-11-13 12:23:29  2023-11-13 12:27:28
3  6E5C8C2B6D45B195  2023-11-27 08:49:26  2023-11-27 09:03:35
5  A1717B24A900AD20  2023-11-05 22:53:05  2023-11-05 22:59:43

  start_station_id end_station_id  start_lat  start_lng    end_lat    end_lng  \
0          6429.01        6782.01  40.751107 -73.940873  40.761149 -73.917007
1          6429.01        6953.08  40.751233 -73.940472  40.768974 -73.954823
2          7735.23        7809.13  40.807560 -73.939182  40.814490 -73.936153
3          7304.08        6953.08  40.782864 -73.971619  40.768974 -73.954823
5          8290.01        8241.07  40.843870 -73.921083  40.842240 -73.898500

  member_casual
0        member
1        member
2        member
3        member
5        member

In [27]:
len(cleaned_202311)

500

In [28]:
print(cleaned_202311)

              ride_id           started_at             ended_at  \
0    48878C314260EF1D  2023-11-03 17:48:21  2023-11-03 17:58:46
1    9E0E1583031239C4  2023-11-01 12:54:59  2023-11-01 13:05:23
2    FEBB9109BCB32647  2023-11-13 12:23:29  2023-11-13 12:27:28
3    6E5C8C2B6D45B195  2023-11-27 08:49:26  2023-11-27 09:03:35
5    A1717B24A900AD20  2023-11-05 22:53:05  2023-11-05 22:59:43
..                ...                  ...                  ...
533  520BC06D1546FD6F  2023-11-19 10:07:47  2023-11-19 10:17:31
534  07A1AF842108C9C9  2023-11-26 13:32:43  2023-11-26 13:35:45
535  49A0DCCDEF2C626D  2023-11-26 14:07:15  2023-11-26 14:10:11
536  33C1724B471DDFC2  2023-11-26 14:37:10  2023-11-26 14:40:33
537  914ACEBF99DF23DB  2023-11-29 17:08:32  2023-11-29 17:16:13

    start_station_id end_station_id  start_lat  start_lng    end_lat  \
0            6429.01        6782.01  40.751107 -73.940873  40.761149
1            6429.01        6953.08  40.751233 -73.940472  40.768974
2            7735.23        7809.13  40.807560 -73.939182  40.814490
3            7304.08        6953.08  40.782864 -73.971619  40.768974
5            8290.01        8241.07  40.843870 -73.921083  40.842240
..               ...            ...        ...        ...        ...
533          4010.13        4437.09  40.674978 -73.971182  40.687372
534          4765.07        4735.03  40.698120 -73.902710  40.698110
535          4765.07        4735.03  40.698120 -73.902710  40.698110
536          4765.07        4735.03  40.698120 -73.902710  40.698110
537          6331.01        6551.11  40.749034 -73.992118  40.753547

       end_lng member_casual
0   -73.917007        member
1   -73.954823        member
2   -73.936153        member
3   -73.954823        member
5   -73.898500        member
..         ...           ...
533 -73.981761        member
534 -73.909040        member
535 -73.909040        member
536 -73.909040        member
537 -73.978966        member

[500 rows x 10 columns]

In [29]:
len(cleaned_202312)

500

In [30]:
print(cleaned_202312)

              ride_id           started_at             ended_at  \
0    48878C314260EF1D  2023-11-03 17:48:21  2023-11-03 17:58:46
1    9E0E1583031239C4  2023-11-01 12:54:59  2023-11-01 13:05:23
2    FEBB9109BCB32647  2023-11-13 12:23:29  2023-11-13 12:27:28
3    6E5C8C2B6D45B195  2023-11-27 08:49:26  2023-11-27 09:03:35
5    A1717B24A900AD20  2023-11-05 22:53:05  2023-11-05 22:59:43
..                ...                  ...                  ...
533  520BC06D1546FD6F  2023-11-19 10:07:47  2023-11-19 10:17:31
534  07A1AF842108C9C9  2023-11-26 13:32:43  2023-11-26 13:35:45
535  49A0DCCDEF2C626D  2023-11-26 14:07:15  2023-11-26 14:10:11
536  33C1724B471DDFC2  2023-11-26 14:37:10  2023-11-26 14:40:33
537  914ACEBF99DF23DB  2023-11-29 17:08:32  2023-11-29 17:16:13

    start_station_id end_station_id  start_lat  start_lng    end_lat  \
0            6429.01        6782.01  40.751107 -73.940873  40.761149
1            6429.01        6953.08  40.751233 -73.940472  40.768974
2            7735.23        7809.13  40.807560 -73.939182  40.814490
3            7304.08        6953.08  40.782864 -73.971619  40.768974
5            8290.01        8241.07  40.843870 -73.921083  40.842240
..               ...            ...        ...        ...        ...
533          4010.13        4437.09  40.674978 -73.971182  40.687372
534          4765.07        4735.03  40.698120 -73.902710  40.698110
535          4765.07        4735.03  40.698120 -73.902710  40.698110
536          4765.07        4735.03  40.698120 -73.902710  40.698110
537          6331.01        6551.11  40.749034 -73.992118  40.753547

       end_lng member_casual
0   -73.917007        member
1   -73.954823        member
2   -73.936153        member
3   -73.954823        member
5   -73.898500        member
..         ...           ...
533 -73.981761        member
534 -73.909040        member
535 -73.909040        member
536 -73.909040        member
537 -73.978966        member

[500 rows x 10 columns]

In [31]:
#save/export as csv file
cleaned_202311.to_csv('cleaned_202311.csv', index=False)

In [32]:
#save/export as csv file
cleaned_202312.to_csv('cleaned_202312.csv', index=False)