In [1]:
# Import dependencies
import pandas as pd
from pathlib import Path
import os

In [2]:
#Path to CSV file
citibike_202311 = Path("/Users/patriciayoung/Desktop/BootCamp/Homework:Challenges/CitiBike-Challenge/202311-citibike-tripdata.csv")


# Read our Crowdfunding data into pandas
citibike_202311_df = pd.read_csv(citibike_202311)
citibike_202311_df.head()

/var/folders/0y/ylp9d14x1qqc5xlqqgqmjdmw0000gn/T/ipykernel_1568/1670625802.py:6: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  citibike_202311_df = pd.read_csv(citibike_202311)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,48878C314260EF1D,classic_bike,2023-11-03 17:48:21,2023-11-03 17:58:46,Queens Plaza North & Crescent St,6429.01,31 Ave & Steinway St,6782.01,40.751107,-73.940873,40.761149,-73.917007,member
1,9E0E1583031239C4,classic_bike,2023-11-01 12:54:59,2023-11-01 13:05:23,Queens Plaza North & Crescent St,6429.01,E 74 St & 1 Ave,6953.08,40.751233,-73.940472,40.768974,-73.954823,member
2,FEBB9109BCB32647,classic_bike,2023-11-13 12:23:29,2023-11-13 12:27:28,E 128 St & Madison Ave,7735.23,E 138 St & 5 Ave,7809.13,40.807560,-73.939182,40.814490,-73.936153,member
3,6E5C8C2B6D45B195,classic_bike,2023-11-27 08:49:26,2023-11-27 09:03:35,W 82 St & Central Park West,7304.08,E 74 St & 1 Ave,6953.08,40.782864,-73.971619,40.768974,-73.954823,member
4,29175CDCC2735F4E,classic_bike,2023-11-14 19:20:04,2023-11-14 20:35:12,8 Ave & W 33 St,6450.12,NaN,NaN,40.751657,-73.993607,40.780000,-73.970000,member

In [3]:
#Path to CSV file
citibike_202312 = Path("/Users/patriciayoung/Desktop/BootCamp/Homework:Challenges/CitiBike-Challenge/202311-citibike-tripdata.csv")

# Read our Crowdfunding data into pandas
citibike_202312_df = pd.read_csv(citibike_202312)
citibike_202312_df.head()

/var/folders/0y/ylp9d14x1qqc5xlqqgqmjdmw0000gn/T/ipykernel_1568/3133166305.py:5: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  citibike_202312_df = pd.read_csv(citibike_202312)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,48878C314260EF1D,classic_bike,2023-11-03 17:48:21,2023-11-03 17:58:46,Queens Plaza North & Crescent St,6429.01,31 Ave & Steinway St,6782.01,40.751107,-73.940873,40.761149,-73.917007,member
1,9E0E1583031239C4,classic_bike,2023-11-01 12:54:59,2023-11-01 13:05:23,Queens Plaza North & Crescent St,6429.01,E 74 St & 1 Ave,6953.08,40.751233,-73.940472,40.768974,-73.954823,member
2,FEBB9109BCB32647,classic_bike,2023-11-13 12:23:29,2023-11-13 12:27:28,E 128 St & Madison Ave,7735.23,E 138 St & 5 Ave,7809.13,40.807560,-73.939182,40.814490,-73.936153,member
3,6E5C8C2B6D45B195,classic_bike,2023-11-27 08:49:26,2023-11-27 09:03:35,W 82 St & Central Park West,7304.08,E 74 St & 1 Ave,6953.08,40.782864,-73.971619,40.768974,-73.954823,member
4,29175CDCC2735F4E,classic_bike,2023-11-14 19:20:04,2023-11-14 20:35:12,8 Ave & W 33 St,6450.12,NaN,NaN,40.751657,-73.993607,40.780000,-73.970000,member

In [4]:
#Drop rows that have missing data

cleaned_202311 = citibike_202311_df.dropna()
cleaned_202311.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,48878C314260EF1D,classic_bike,2023-11-03 17:48:21,2023-11-03 17:58:46,Queens Plaza North & Crescent St,6429.01,31 Ave & Steinway St,6782.01,40.751107,-73.940873,40.761149,-73.917007,member
1,9E0E1583031239C4,classic_bike,2023-11-01 12:54:59,2023-11-01 13:05:23,Queens Plaza North & Crescent St,6429.01,E 74 St & 1 Ave,6953.08,40.751233,-73.940472,40.768974,-73.954823,member
2,FEBB9109BCB32647,classic_bike,2023-11-13 12:23:29,2023-11-13 12:27:28,E 128 St & Madison Ave,7735.23,E 138 St & 5 Ave,7809.13,40.807560,-73.939182,40.814490,-73.936153,member
3,6E5C8C2B6D45B195,classic_bike,2023-11-27 08:49:26,2023-11-27 09:03:35,W 82 St & Central Park West,7304.08,E 74 St & 1 Ave,6953.08,40.782864,-73.971619,40.768974,-73.954823,member
5,A1717B24A900AD20,classic_bike,2023-11-05 22:53:05,2023-11-05 22:59:43,Nelson Ave & W 172 St,8290.01,3 Ave & E 174 St,8241.07,40.843870,-73.921083,40.842240,-73.898500,member

In [5]:
#Drop rows that have missing data

cleaned_202312 = citibike_202312_df.dropna()
cleaned_202312.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,48878C314260EF1D,classic_bike,2023-11-03 17:48:21,2023-11-03 17:58:46,Queens Plaza North & Crescent St,6429.01,31 Ave & Steinway St,6782.01,40.751107,-73.940873,40.761149,-73.917007,member
1,9E0E1583031239C4,classic_bike,2023-11-01 12:54:59,2023-11-01 13:05:23,Queens Plaza North & Crescent St,6429.01,E 74 St & 1 Ave,6953.08,40.751233,-73.940472,40.768974,-73.954823,member
2,FEBB9109BCB32647,classic_bike,2023-11-13 12:23:29,2023-11-13 12:27:28,E 128 St & Madison Ave,7735.23,E 138 St & 5 Ave,7809.13,40.807560,-73.939182,40.814490,-73.936153,member
3,6E5C8C2B6D45B195,classic_bike,2023-11-27 08:49:26,2023-11-27 09:03:35,W 82 St & Central Park West,7304.08,E 74 St & 1 Ave,6953.08,40.782864,-73.971619,40.768974,-73.954823,member
5,A1717B24A900AD20,classic_bike,2023-11-05 22:53:05,2023-11-05 22:59:43,Nelson Ave & W 172 St,8290.01,3 Ave & E 174 St,8241.07,40.843870,-73.921083,40.842240,-73.898500,member

In [6]:
cleaned_202311.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2875911 entries, 0 to 2887736
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 307.2+ MB

In [7]:
num_rows, num_columns = cleaned_202311.shape

print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

Number of rows: 2875911
Number of columns: 13

In [8]:
num_rows, num_columns = cleaned_202312.shape

print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

Number of rows: 2875911
Number of columns: 13

In [9]:
#Drop rideable_type columns
column_delete_ridetype_1 = 'rideable_type'

# Drop the specified column and create a new DataFrame
cleaned_202311 = cleaned_202311.drop(columns=[column_delete_ridetype_1])

# Display the DataFrame after deleting the column
print(cleaned_202311.head())

            ride_id           started_at             ended_at  \
0  48878C314260EF1D  2023-11-03 17:48:21  2023-11-03 17:58:46
1  9E0E1583031239C4  2023-11-01 12:54:59  2023-11-01 13:05:23
2  FEBB9109BCB32647  2023-11-13 12:23:29  2023-11-13 12:27:28
3  6E5C8C2B6D45B195  2023-11-27 08:49:26  2023-11-27 09:03:35
5  A1717B24A900AD20  2023-11-05 22:53:05  2023-11-05 22:59:43

                 start_station_name start_station_id      end_station_name  \
0  Queens Plaza North & Crescent St          6429.01  31 Ave & Steinway St
1  Queens Plaza North & Crescent St          6429.01       E 74 St & 1 Ave
2            E 128 St & Madison Ave          7735.23      E 138 St & 5 Ave
3       W 82 St & Central Park West          7304.08       E 74 St & 1 Ave
5             Nelson Ave & W 172 St          8290.01      3 Ave & E 174 St

  end_station_id  start_lat  start_lng    end_lat    end_lng member_casual
0        6782.01  40.751107 -73.940873  40.761149 -73.917007        member
1        6953.08  40.751233 -73.940472  40.768974 -73.954823        member
2        7809.13  40.807560 -73.939182  40.814490 -73.936153        member
3        6953.08  40.782864 -73.971619  40.768974 -73.954823        member
5        8241.07  40.843870 -73.921083  40.842240 -73.898500        member

In [10]:
#Drop rideable_type columns
column_delete_ridetype_2 = 'rideable_type'

# Drop the specified column and create a new DataFrame
cleaned_202312 = cleaned_202312.drop(columns=[column_delete_ridetype_2])

# Display the DataFrame after deleting the column
print(cleaned_202312.head())

            ride_id           started_at             ended_at  \
0  48878C314260EF1D  2023-11-03 17:48:21  2023-11-03 17:58:46
1  9E0E1583031239C4  2023-11-01 12:54:59  2023-11-01 13:05:23
2  FEBB9109BCB32647  2023-11-13 12:23:29  2023-11-13 12:27:28
3  6E5C8C2B6D45B195  2023-11-27 08:49:26  2023-11-27 09:03:35
5  A1717B24A900AD20  2023-11-05 22:53:05  2023-11-05 22:59:43

                 start_station_name start_station_id      end_station_name  \
0  Queens Plaza North & Crescent St          6429.01  31 Ave & Steinway St
1  Queens Plaza North & Crescent St          6429.01       E 74 St & 1 Ave
2            E 128 St & Madison Ave          7735.23      E 138 St & 5 Ave
3       W 82 St & Central Park West          7304.08       E 74 St & 1 Ave
5             Nelson Ave & W 172 St          8290.01      3 Ave & E 174 St

  end_station_id  start_lat  start_lng    end_lat    end_lng member_casual
0        6782.01  40.751107 -73.940873  40.761149 -73.917007        member
1        6953.08  40.751233 -73.940472  40.768974 -73.954823        member
2        7809.13  40.807560 -73.939182  40.814490 -73.936153        member
3        6953.08  40.782864 -73.971619  40.768974 -73.954823        member
5        8241.07  40.843870 -73.921083  40.842240 -73.898500        member

In [11]:
#Drop lat columns
start_lat_delete_1 = 'start_lat'

# Drop the specified column and create a new DataFrame
cleaned_202311 = cleaned_202311.drop(columns=[start_lat_delete_1])

# Display the DataFrame after deleting the column
print(cleaned_202311.head())

            ride_id           started_at             ended_at  \
0  48878C314260EF1D  2023-11-03 17:48:21  2023-11-03 17:58:46
1  9E0E1583031239C4  2023-11-01 12:54:59  2023-11-01 13:05:23
2  FEBB9109BCB32647  2023-11-13 12:23:29  2023-11-13 12:27:28
3  6E5C8C2B6D45B195  2023-11-27 08:49:26  2023-11-27 09:03:35
5  A1717B24A900AD20  2023-11-05 22:53:05  2023-11-05 22:59:43

                 start_station_name start_station_id      end_station_name  \
0  Queens Plaza North & Crescent St          6429.01  31 Ave & Steinway St
1  Queens Plaza North & Crescent St          6429.01       E 74 St & 1 Ave
2            E 128 St & Madison Ave          7735.23      E 138 St & 5 Ave
3       W 82 St & Central Park West          7304.08       E 74 St & 1 Ave
5             Nelson Ave & W 172 St          8290.01      3 Ave & E 174 St

  end_station_id  start_lng    end_lat    end_lng member_casual
0        6782.01 -73.940873  40.761149 -73.917007        member
1        6953.08 -73.940472  40.768974 -73.954823        member
2        7809.13 -73.939182  40.814490 -73.936153        member
3        6953.08 -73.971619  40.768974 -73.954823        member
5        8241.07 -73.921083  40.842240 -73.898500        member

In [12]:
#Drop lat columns
start_lat_delete_2 = 'start_lat'

# Drop the specified column and create a new DataFrame
cleaned_202312 = cleaned_202312.drop(columns=[start_lat_delete_2])

# Display the DataFrame after deleting the column
print(cleaned_202311.head())

            ride_id           started_at             ended_at  \
0  48878C314260EF1D  2023-11-03 17:48:21  2023-11-03 17:58:46
1  9E0E1583031239C4  2023-11-01 12:54:59  2023-11-01 13:05:23
2  FEBB9109BCB32647  2023-11-13 12:23:29  2023-11-13 12:27:28
3  6E5C8C2B6D45B195  2023-11-27 08:49:26  2023-11-27 09:03:35
5  A1717B24A900AD20  2023-11-05 22:53:05  2023-11-05 22:59:43

                 start_station_name start_station_id      end_station_name  \
0  Queens Plaza North & Crescent St          6429.01  31 Ave & Steinway St
1  Queens Plaza North & Crescent St          6429.01       E 74 St & 1 Ave
2            E 128 St & Madison Ave          7735.23      E 138 St & 5 Ave
3       W 82 St & Central Park West          7304.08       E 74 St & 1 Ave
5             Nelson Ave & W 172 St          8290.01      3 Ave & E 174 St

  end_station_id  start_lng    end_lat    end_lng member_casual
0        6782.01 -73.940873  40.761149 -73.917007        member
1        6953.08 -73.940472  40.768974 -73.954823        member
2        7809.13 -73.939182  40.814490 -73.936153        member
3        6953.08 -73.971619  40.768974 -73.954823        member
5        8241.07 -73.921083  40.842240 -73.898500        member

In [13]:
#Drop lat columns
end_lat_delete_1 = 'end_lat'

# Drop the specified column and create a new DataFrame
cleaned_202311 = cleaned_202311.drop(columns=[end_lat_delete_1])

# Display the DataFrame after deleting the column
print(cleaned_202311.head())

            ride_id           started_at             ended_at  \
0  48878C314260EF1D  2023-11-03 17:48:21  2023-11-03 17:58:46
1  9E0E1583031239C4  2023-11-01 12:54:59  2023-11-01 13:05:23
2  FEBB9109BCB32647  2023-11-13 12:23:29  2023-11-13 12:27:28
3  6E5C8C2B6D45B195  2023-11-27 08:49:26  2023-11-27 09:03:35
5  A1717B24A900AD20  2023-11-05 22:53:05  2023-11-05 22:59:43

                 start_station_name start_station_id      end_station_name  \
0  Queens Plaza North & Crescent St          6429.01  31 Ave & Steinway St
1  Queens Plaza North & Crescent St          6429.01       E 74 St & 1 Ave
2            E 128 St & Madison Ave          7735.23      E 138 St & 5 Ave
3       W 82 St & Central Park West          7304.08       E 74 St & 1 Ave
5             Nelson Ave & W 172 St          8290.01      3 Ave & E 174 St

  end_station_id  start_lng    end_lng member_casual
0        6782.01 -73.940873 -73.917007        member
1        6953.08 -73.940472 -73.954823        member
2        7809.13 -73.939182 -73.936153        member
3        6953.08 -73.971619 -73.954823        member
5        8241.07 -73.921083 -73.898500        member

In [14]:
#Drop lat columns
end_lat_delete_2 = 'end_lat'

# Drop the specified column and create a new DataFrame
cleaned_202312 = cleaned_202312.drop(columns=[end_lat_delete_2])

# Display the DataFrame after deleting the column
print(cleaned_202311.head())

            ride_id           started_at             ended_at  \
0  48878C314260EF1D  2023-11-03 17:48:21  2023-11-03 17:58:46
1  9E0E1583031239C4  2023-11-01 12:54:59  2023-11-01 13:05:23
2  FEBB9109BCB32647  2023-11-13 12:23:29  2023-11-13 12:27:28
3  6E5C8C2B6D45B195  2023-11-27 08:49:26  2023-11-27 09:03:35
5  A1717B24A900AD20  2023-11-05 22:53:05  2023-11-05 22:59:43

                 start_station_name start_station_id      end_station_name  \
0  Queens Plaza North & Crescent St          6429.01  31 Ave & Steinway St
1  Queens Plaza North & Crescent St          6429.01       E 74 St & 1 Ave
2            E 128 St & Madison Ave          7735.23      E 138 St & 5 Ave
3       W 82 St & Central Park West          7304.08       E 74 St & 1 Ave
5             Nelson Ave & W 172 St          8290.01      3 Ave & E 174 St

  end_station_id  start_lng    end_lng member_casual
0        6782.01 -73.940873 -73.917007        member
1        6953.08 -73.940472 -73.954823        member
2        7809.13 -73.939182 -73.936153        member
3        6953.08 -73.971619 -73.954823        member
5        8241.07 -73.921083 -73.898500        member

In [15]:
#Drop lng columns
start_lng_delete_1 = 'start_lng'

# Drop the specified column and create a new DataFrame
cleaned_202311 = cleaned_202311.drop(columns=[start_lng_delete_1])

# Display the DataFrame after deleting the column
print(cleaned_202311.head())

            ride_id           started_at             ended_at  \
0  48878C314260EF1D  2023-11-03 17:48:21  2023-11-03 17:58:46
1  9E0E1583031239C4  2023-11-01 12:54:59  2023-11-01 13:05:23
2  FEBB9109BCB32647  2023-11-13 12:23:29  2023-11-13 12:27:28
3  6E5C8C2B6D45B195  2023-11-27 08:49:26  2023-11-27 09:03:35
5  A1717B24A900AD20  2023-11-05 22:53:05  2023-11-05 22:59:43

                 start_station_name start_station_id      end_station_name  \
0  Queens Plaza North & Crescent St          6429.01  31 Ave & Steinway St
1  Queens Plaza North & Crescent St          6429.01       E 74 St & 1 Ave
2            E 128 St & Madison Ave          7735.23      E 138 St & 5 Ave
3       W 82 St & Central Park West          7304.08       E 74 St & 1 Ave
5             Nelson Ave & W 172 St          8290.01      3 Ave & E 174 St

  end_station_id    end_lng member_casual
0        6782.01 -73.917007        member
1        6953.08 -73.954823        member
2        7809.13 -73.936153        member
3        6953.08 -73.954823        member
5        8241.07 -73.898500        member

In [16]:
#Drop lng columns
start_lng_delete_2 = 'start_lng'

# Drop the specified column and create a new DataFrame
cleaned_202312 = cleaned_202312.drop(columns=[start_lng_delete_2])

# Display the DataFrame after deleting the column
print(cleaned_202311.head())

            ride_id           started_at             ended_at  \
0  48878C314260EF1D  2023-11-03 17:48:21  2023-11-03 17:58:46
1  9E0E1583031239C4  2023-11-01 12:54:59  2023-11-01 13:05:23
2  FEBB9109BCB32647  2023-11-13 12:23:29  2023-11-13 12:27:28
3  6E5C8C2B6D45B195  2023-11-27 08:49:26  2023-11-27 09:03:35
5  A1717B24A900AD20  2023-11-05 22:53:05  2023-11-05 22:59:43

                 start_station_name start_station_id      end_station_name  \
0  Queens Plaza North & Crescent St          6429.01  31 Ave & Steinway St
1  Queens Plaza North & Crescent St          6429.01       E 74 St & 1 Ave
2            E 128 St & Madison Ave          7735.23      E 138 St & 5 Ave
3       W 82 St & Central Park West          7304.08       E 74 St & 1 Ave
5             Nelson Ave & W 172 St          8290.01      3 Ave & E 174 St

  end_station_id    end_lng member_casual
0        6782.01 -73.917007        member
1        6953.08 -73.954823        member
2        7809.13 -73.936153        member
3        6953.08 -73.954823        member
5        8241.07 -73.898500        member

In [17]:
#Drop lng columns
end_lng_delete_2 = 'end_lng'

# Drop the specified column and create a new DataFrame
cleaned_202312 = cleaned_202312.drop(columns=[end_lng_delete_2])

# Display the DataFrame after deleting the column
print(cleaned_202311.head())

            ride_id           started_at             ended_at  \
0  48878C314260EF1D  2023-11-03 17:48:21  2023-11-03 17:58:46
1  9E0E1583031239C4  2023-11-01 12:54:59  2023-11-01 13:05:23
2  FEBB9109BCB32647  2023-11-13 12:23:29  2023-11-13 12:27:28
3  6E5C8C2B6D45B195  2023-11-27 08:49:26  2023-11-27 09:03:35
5  A1717B24A900AD20  2023-11-05 22:53:05  2023-11-05 22:59:43

                 start_station_name start_station_id      end_station_name  \
0  Queens Plaza North & Crescent St          6429.01  31 Ave & Steinway St
1  Queens Plaza North & Crescent St          6429.01       E 74 St & 1 Ave
2            E 128 St & Madison Ave          7735.23      E 138 St & 5 Ave
3       W 82 St & Central Park West          7304.08       E 74 St & 1 Ave
5             Nelson Ave & W 172 St          8290.01      3 Ave & E 174 St

  end_station_id    end_lng member_casual
0        6782.01 -73.917007        member
1        6953.08 -73.954823        member
2        7809.13 -73.936153        member
3        6953.08 -73.954823        member
5        8241.07 -73.898500        member

In [18]:
len(cleaned_202312)

2875911

In [19]:
print(cleaned_202311)

                  ride_id           started_at             ended_at  \
0        48878C314260EF1D  2023-11-03 17:48:21  2023-11-03 17:58:46
1        9E0E1583031239C4  2023-11-01 12:54:59  2023-11-01 13:05:23
2        FEBB9109BCB32647  2023-11-13 12:23:29  2023-11-13 12:27:28
3        6E5C8C2B6D45B195  2023-11-27 08:49:26  2023-11-27 09:03:35
5        A1717B24A900AD20  2023-11-05 22:53:05  2023-11-05 22:59:43
...                   ...                  ...                  ...
2887732  B06C26BA0C5E31F8  2023-11-28 09:57:05  2023-11-28 10:03:47
2887733  536BFFBCD957FCA7  2023-11-30 22:37:43  2023-11-30 22:41:42
2887734  BE9FCBED91CADF0B  2023-11-10 13:49:27  2023-11-10 13:53:53
2887735  CAC97E13CB8AA481  2023-11-20 14:16:31  2023-11-20 14:20:08
2887736  B51FC32482263D7E  2023-11-15 08:27:36  2023-11-15 08:32:22

                       start_station_name start_station_id  \
0        Queens Plaza North & Crescent St          6429.01
1        Queens Plaza North & Crescent St          6429.01
2                  E 128 St & Madison Ave          7735.23
3             W 82 St & Central Park West          7304.08
5                   Nelson Ave & W 172 St          8290.01
...                                   ...              ...
2887732                  2 Ave & E 122 St          7622.12
2887733                      5 Ave & 3 St          3987.06
2887734                   W 47 St & 9 Ave          6786.02
2887735                    1 Ave & E 6 St          5626.15
2887736     Christopher St & Greenwich St          5847.01

                 end_station_name end_station_id    end_lng member_casual
0            31 Ave & Steinway St        6782.01 -73.917007        member
1                 E 74 St & 1 Ave        6953.08 -73.954823        member
2                E 138 St & 5 Ave        7809.13 -73.936153        member
3                 E 74 St & 1 Ave        6953.08 -73.954823        member
5                3 Ave & E 174 St        8241.07 -73.898500        member
...                           ...            ...        ...           ...
2887732          2 Ave & E 104 St        7436.11 -73.943708        member
2887733             10 St & 7 Ave        3762.08 -73.981999        member
2887734        Broadway & W 53 St        6779.05 -73.982681        member
2887735  Cooper Square & Astor Pl        5712.03 -73.990753        member
2887736     Spring St & Hudson St        5653.12 -74.007653        member

[2875911 rows x 9 columns]

In [20]:
# Display the last 5 rows of the DataFrame
print(cleaned_202311.tail())

# Drop the last 1005520 rows (adjust the number as needed)
cleaned_202311 = cleaned_202311.iloc[:-2200000]

# Display the DataFrame after dropping rows
cleaned_202311.head()

                  ride_id           started_at             ended_at  \
2887732  B06C26BA0C5E31F8  2023-11-28 09:57:05  2023-11-28 10:03:47
2887733  536BFFBCD957FCA7  2023-11-30 22:37:43  2023-11-30 22:41:42
2887734  BE9FCBED91CADF0B  2023-11-10 13:49:27  2023-11-10 13:53:53
2887735  CAC97E13CB8AA481  2023-11-20 14:16:31  2023-11-20 14:20:08
2887736  B51FC32482263D7E  2023-11-15 08:27:36  2023-11-15 08:32:22

                    start_station_name start_station_id  \
2887732               2 Ave & E 122 St          7622.12
2887733                   5 Ave & 3 St          3987.06
2887734                W 47 St & 9 Ave          6786.02
2887735                 1 Ave & E 6 St          5626.15
2887736  Christopher St & Greenwich St          5847.01

                 end_station_name end_station_id    end_lng member_casual
2887732          2 Ave & E 104 St        7436.11 -73.943708        member
2887733             10 St & 7 Ave        3762.08 -73.981999        member
2887734        Broadway & W 53 St        6779.05 -73.982681        member
2887735  Cooper Square & Astor Pl        5712.03 -73.990753        member
2887736     Spring St & Hudson St        5653.12 -74.007653        member

,ride_id,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,end_lng,member_casual
0,48878C314260EF1D,2023-11-03 17:48:21,2023-11-03 17:58:46,Queens Plaza North & Crescent St,6429.01,31 Ave & Steinway St,6782.01,-73.917007,member
1,9E0E1583031239C4,2023-11-01 12:54:59,2023-11-01 13:05:23,Queens Plaza North & Crescent St,6429.01,E 74 St & 1 Ave,6953.08,-73.954823,member
2,FEBB9109BCB32647,2023-11-13 12:23:29,2023-11-13 12:27:28,E 128 St & Madison Ave,7735.23,E 138 St & 5 Ave,7809.13,-73.936153,member
3,6E5C8C2B6D45B195,2023-11-27 08:49:26,2023-11-27 09:03:35,W 82 St & Central Park West,7304.08,E 74 St & 1 Ave,6953.08,-73.954823,member
5,A1717B24A900AD20,2023-11-05 22:53:05,2023-11-05 22:59:43,Nelson Ave & W 172 St,8290.01,3 Ave & E 174 St,8241.07,-73.898500,member

In [21]:
num_rows, num_columns = cleaned_202311.shape

print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

Number of rows: 675911
Number of columns: 9

In [22]:
# Display the last 5 rows of the DataFrame
print(cleaned_202312.tail())

# Drop the last 1005500 rows (adjust the number as needed)
cleaned_202312 = cleaned_202312.iloc[:-2200000]

# Display the DataFrame after dropping rows
cleaned_202312.head()

                  ride_id           started_at             ended_at  \
2887732  B06C26BA0C5E31F8  2023-11-28 09:57:05  2023-11-28 10:03:47
2887733  536BFFBCD957FCA7  2023-11-30 22:37:43  2023-11-30 22:41:42
2887734  BE9FCBED91CADF0B  2023-11-10 13:49:27  2023-11-10 13:53:53
2887735  CAC97E13CB8AA481  2023-11-20 14:16:31  2023-11-20 14:20:08
2887736  B51FC32482263D7E  2023-11-15 08:27:36  2023-11-15 08:32:22

                    start_station_name start_station_id  \
2887732               2 Ave & E 122 St          7622.12
2887733                   5 Ave & 3 St          3987.06
2887734                W 47 St & 9 Ave          6786.02
2887735                 1 Ave & E 6 St          5626.15
2887736  Christopher St & Greenwich St          5847.01

                 end_station_name end_station_id member_casual
2887732          2 Ave & E 104 St        7436.11        member
2887733             10 St & 7 Ave        3762.08        member
2887734        Broadway & W 53 St        6779.05        member
2887735  Cooper Square & Astor Pl        5712.03        member
2887736     Spring St & Hudson St        5653.12        member

,ride_id,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual
0,48878C314260EF1D,2023-11-03 17:48:21,2023-11-03 17:58:46,Queens Plaza North & Crescent St,6429.01,31 Ave & Steinway St,6782.01,member
1,9E0E1583031239C4,2023-11-01 12:54:59,2023-11-01 13:05:23,Queens Plaza North & Crescent St,6429.01,E 74 St & 1 Ave,6953.08,member
2,FEBB9109BCB32647,2023-11-13 12:23:29,2023-11-13 12:27:28,E 128 St & Madison Ave,7735.23,E 138 St & 5 Ave,7809.13,member
3,6E5C8C2B6D45B195,2023-11-27 08:49:26,2023-11-27 09:03:35,W 82 St & Central Park West,7304.08,E 74 St & 1 Ave,6953.08,member
5,A1717B24A900AD20,2023-11-05 22:53:05,2023-11-05 22:59:43,Nelson Ave & W 172 St,8290.01,3 Ave & E 174 St,8241.07,member

In [23]:
num_rows, num_columns = cleaned_202312.shape

print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

Number of rows: 675911
Number of columns: 8